@font-face {
  font-family: "impact";
  src: url("../fonts/impact/impact.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  height: 100vh;
  margin: 0;
}
.total-con {
  flex-direction: column;
}
header,
footer {
  background-color: darkorange;
  width: 100%;
}
footer {
  flex-direction: column;
}

.logo {
  display: inline;
  margin: 10px;
  width: 120px;
  height: 30px;
}
nav {
  margin: 10px;
}
.gallery {
  margin: 10px auto 10px auto;
  /* margin-left: auto;
  margin-right: auto; */
  background-color: rgba(158, 155, 155, 0.801);
}
.gallery img {
  border-radius: 15px;
}
img {
  width: 100%;
  height: auto;
}
.galleryBtn {
  width: 100px;
  height: 45px;
}
a,
button {
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: black;
  background-color: cornflowerblue;
  text-align: center;
  padding-top: 5px;
}
label:hover,
img:hover,
a:hover,
select:hover,
input:hover,
button:hover {
  cursor: pointer;
  box-shadow: 10px 13px 15px -2px #17fff06b;
  transform: scale(1.2);
}
button img {
  width: 30px;
  height: 30px;
}
.canvas-con {
  margin-left: auto;
  margin-right: auto;
}
canvas {
  border: black solid 1px;
  margin-left: auto;
  margin-right: auto;
}

.meme-editor {
  background-color: rgba(158, 155, 155, 0.801);
  height: 55%;
}
footer p {
  margin: 5px;
  color: antiquewhite;
}
#strokeChange,
#fillChange {
  opacity: 0;
}

/* Layout------- */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* Helpers----- */
.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

/* ------- */
.hidden {
  /* transform: translate(120%); */
  display: none;
}

@media (max-width: 780px) {
  .container {
    max-width: 600px;
  }
  .meme-editor {
    flex-direction: column;
    justify-content: space-evenly;
    height: 75%;
  }
  canvas {
    width: 390px;
    height: 390px;
  }
}
@media (max-width: 390px) {
  canvas {
    width: 300px;
    height: 300px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 300px) {
  .container {
    min-width: 270px;
  }
  canvas {
    width: 260px;
    height: 260px;
  }
}
/* .modal {
  width: 300px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid rgb(165, 253, 0);
  border-radius: 20px;
  padding: 12px 8px;
  display: none;
  position: absolute;
  box-shadow: 5px 6px 10px 11px #f0ff00;
} */
